{% if user.is_authenticated %}
  {% load django_bootstrap5 %}
  <h5 class="mb-4">Оставить комментарий</h5>
  <form method="post" action="{% url 'blog:add_comment' post.id %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Отправить" %}
  </form>
{% endif %}
<br>
{% for comment in page_obj %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">        
          @{{ comment.author.username }}        
      </h5>
      <p class="card-text text-muted">
        {{ comment.created_at }}
      </p>
      <p class="card-text">
        {{ comment.text|linebreaksbr }}
      </p>
    </div>
    {% if user == comment.author %}
      <a class="btn btn-sm text-muted" href="{% url 'blog:edit_comment' post.id comment.id %}" role="button">
        Отредактировать комментарий
      </a>
      <a class="btn btn-sm text-muted" href="{% url 'blog:delete_comment' post.id comment.id %}" role="button">
        Удалить комментарий
      </a>
    {% endif %}
  </div>
{% endfor %}

{% include 'includes/paginator.html' %}
{% if not page_obj %}
  <p>Комментариев пока нет.</p>
{% endif %}